<mat-card id="cardContainer">
<!-- <div class="col-md-8 col-md-offset-2"> -->
    <h2>Sign in to your chatroom</h2>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()"
    class="form-container">
        <mat-form-field class="inputWrap">
            <input
                    matInput
                    placeholder="Email"
                    type="email"
                    id="email"
                    formControlName="email"
                    class="inputField">
        </mat-form-field>
        <mat-form-field class="inputWrap">
            <input
                    matInput
                    placeholder="Password"
                    type="password"
                    id="password"
                    formControlName="password"
                    class="inputField">
        </mat-form-field>
        <button
                mat-raised-button color="accent"
                type="submit"
                [disabled]="!myForm.valid">SIGN IN</button>
    </form>
<!-- </div> -->
</mat-card>
