<!-- #f defautly refer to thh form html object -->
<!-- #f="ngForm" makes it refer to the angular form javascript object -->
<mat-card class="channelAddContainer">
    <form class="messageContainer" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <mat-form-field class="messageWrap">
          <input
              matInput
              placeholder="channel name"
              type="text"
              id="name"
              name="name"
              ngModel
              required >
        </mat-form-field>
        <mat-form-field class="messageWrap">
          <input
              matInput
              placeholder="image address"
              type="text"
              id="imageUrl"
              name="imgUrl"
              ngModel
              required >
      </mat-form-field>
      <div class="channelAddBtnWrap">
        <button type="button" mat-raised-button color="warn">Cancel</button>
        <button mat-raised-button color="accent" type="submit">Create</button>
      </div>
  </form>

</mat-card>
