
          <button class="navLink" *ngIf="!isLoggedIn()">Why Youchat</button>
          <button class="navLink" *ngIf="!isLoggedIn()">Future Plan</button>
          <button *ngIf="!isLoggedIn()">Your Chatroom</button>
          <a mat-button class="headerButton" *ngIf="isLoggedIn()"[routerLink]="['/channels']">CHANNELS</a>
          <a mat-button class="headerButton" *ngIf="isLoggedIn()">PROFILE</a>
          <a mat-button
          class="headerButton"
          *ngIf="isLoggedIn()"
          (click)="onLogout()"
          [routerLink]="['/auth/logout']">
        LOGOUT
        </a>




