
    <form class="inputContainer" (ngSubmit)="onSubmit(f)" #f="ngForm">

        <div class="inputWrap">
            <div class="expandWrap">
                <button
                id="expandBtn"
                mat-icon-button
                [matMenuTriggerFor]="menu" >
                    <mat-icon>expand_more</mat-icon>
                </button>
                <mat-menu #menu="matMenu"
                overlapTrigger="false">
                    <button class="headerButton" (click)="onClear(f)">Clear</button>
                    <button class="headerButton" type="submit">Save</button>
                </mat-menu>
            </div>
            <textarea
                placeholder="Enter chat"
                type="text"
                id="input"
                [ngModel]="message?.content"
                name="content"
                required>
            </textarea>
        </div>
        <!-- <button type="button" mat-raised-button color="warn"  (click)="onClear(f)">Clear</button> -->
        <!-- <button mat-raised-button color="accent" type="submit">Save</button> -->

    </form>

